<div style="margin: top 50px;text-align:center">
  <h1 class="display-4">API CRUD Operations</h1>
</div>


<div class="container">
  <div class="card" width="18em">
    <div class="card-header">
      Angular + ASP.NET Core Web API CRUD
    </div>
    <div class="card-body">
      <form>
        <div class="form-control">
        <div class="Card-text">
          <label for="">Card Holder Name:</label>
          <input class="input-group mb-3" type="text" name="cardName">
        </div>
        <div class="form-group">
          <label for="">Card Number:</label>
          <input class="input-group mb-3" type="text" name="cardNumber">
        </div>
        </div>
        <div class="input-group">
          <div class="form-control">
            <label for="">CVC</label>
            <span>: </span>
            <input  type="text" name="cardCVC">
          </div>
          <div class="form-control">
            <label for="">Expiry Month</label>
            <span>: </span>
            <input type="text" name="cardExpiryMonth">
          </div>
          <div class="form-control">
            <label  for="">Expiry Year</label>
            <span>: </span>
            <input type="text" name="cardExpiryYear">
          </div>
        </div>
      </form>
    </div>
    <button type="button" class="btn btn-outline-success">Save</button>
  </div>
</div>

<br/>
<br/>

<div class="container" *ngFor="let card of cards">
  <div class="card" width="18em">
    <div class="card-header">
      DELETE Operation
    </div>
    <div class="card w-100">
      <div class="card-body">
        <h5 class="card-title">{{card.cardHolderName}}</h5>
        <p class="card-text">{{card.cardNumber}}</p>
        <a href="#" class="btn btn-outline-danger">Button</a>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="card" width="18em">
    <div class="card-header">
      DELETE Operation
    </div>
    <div class="card w-100">
      <div class="card-body">
        <h5 class="card-title">Mohammad Jafrin Hossain</h5>
        <p class="card-text">78979425651964984984884</p>
        <a href="#" class="btn btn-outline-danger">Button</a>
      </div>
    </div>
  </div>
</div>



